@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Merienda:wght@300..900&family=Protest+Revolution&family=Rubik+Glitch+Pop&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Merienda", cursive;
}
.s1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.073)),  url('./img/Luxury.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -10;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg_img::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-image: url(./img/pro.png);
background-size: contain;
background-repeat: no-repeat;
z-index: 1;
animation: FadeInLeft 1.5s;
}

@keyframes FadeInLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes FadeInRight {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}


.bg_text {
position: absolute;
top: 50%;
left: 30%;
z-index: 20;
animation: FadeInRight 1.5s;
}
@media (max-width: 484px) {
  .s1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.227)), url('./img/pro.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg_img {
    display: none;
  }
  .bg_text {
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0;
    }
}
@media (max-width: 761px) {
  .bg_text {
font-size: 40px;
font-weight: bolder;
    }
}







.cb{
  color: #C7A56B;
}